{% block checkOut %}
<table border="1px">
    <th colspan="2"><h2>Check Out</h2></th>
    <form action="/checkedOut">
        <tr>
            <td>
                <label for="customer">Customer:</label>
            </td>
            <td>
                <select name="customer" required style="width: 100%;">
                    <option disabled selected hidden>- Select a customer -</option>
                    {% for customer in customers %}
                     <option>{{customer.ssNr}} {{customer.name}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="car">Car:</label>
            </td>
            <td>
                <select name="car" required style="width: 100%;">
                    <option disabled selected hidden>- Select a car -</option>
                    {% for car in cars %}
                     <option>{{car.regNr}} {{car.make}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Check Out" style="width: 100%;">
            </td>
        </tr>
    </form>
        <tr>
            <td colspan="2">
                <form action="/" method="POST">
                        <input type="submit" value="Main Menu" style="width: 100%;">
                </form>
            </td>
        </tr>
</table>
{% endblock %}