{% block checkOut %}
<table border="1px">
    <th colspan="2"><h2>Check Out</h2></th>
    <form action="/carCheckedOut">
        <tr>
            <td>
                <label for="customer">Customer:</label>
                <select name="customer" required>
                    <option>--Select a customer--</option>
                {% for customer in customers %}
                    <option>{{customer.ssNr}} {{customer.name}}</option>
                {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="car">Car:</label>
                <select name="car" required>
                    <option>--Select a car--</option>
                {% for car in cars %}
                    <option>{{car.make}} {{car.regNr}}</option>
                {% endfor %}
                </select>
            </td>
        </tr>
        <tr colspan="2">
            <td>
                <input type="submit" value="Check Out">
            </td>
        </form>
            <td>
                <form action="/" method="POST">
                        <input type="submit" value="Main Menu">
                </form>
            </td>
        </tr>
</table>
{% endblock %}